body{
    display: flex;
    justify-content: center;
    background-color: rgb(222, 237, 238);
    color: rgb(70, 70, 70);
}
main{
    display: flex;
    width: 90%;
    margin-top: 30px;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    height: 90vh;
    box-shadow: 0px 2px 10px rgb(197, 197, 197);
}
nav{
    width: 20%;
    text-align: center;
}
nav h1 {
    color: rgb(247, 98, 29);
    margin-left: -10px;
}
#todo-titles{
    width: 100%;
    margin-top: 20px;
    max-height: 60%;
    overflow-y: scroll;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#todo-titles button{
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid rgb(221, 221, 221);
    color: rgb(70, 70, 70);
}
#main{
    position: relative;
    display: flex;
    background-color: rgb(243, 243, 243);
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}
header{
    position: fixed;
    margin-left: 50px;
    margin-top: -15px;
}
#search-go {
    border: 1px solid rgb(158, 158, 158);
    height: 35px;
}
#add {
    position: fixed;
    bottom: 100px;
    right: 150px;
    font-size: 25px;
    /* border: 1px solid rgb(170, 170, 170); */
    border-radius: 15px;
    background-color: rgb(253, 136, 82);
    color: rgb(255, 255, 255);
}
#overview{
    margin-top: 50px;
    width: 70%;
}
#overview h4, #completed h4{
    margin-top: -10px;
    margin-left: 50px;
}
#overview div, #completed div{
    margin: 10px;
    display: inline-block;
    width: 40%;
    font-size: small;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 5px 10px rgb(212, 212, 212);
}
#overview div h5, #completed div h5{
    text-align: center;
    color: rgb(0, 110, 255);
}
#completed{
    width: 30%;
    margin-top: 50px;
}
#completed div{
    display: block;
    width: 100%;
    margin-top: 18px;
}
@media screen and (max-width: 880px){
    #overview, #completed{
        width: 50%;
    }
    #overview div, #completed div{
        display: block;
        width: 80%;
    }
}
#all{
    color: rgb(255, 81, 0) !important;
    font-size: larger;
}